<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <form class="row g-2" [formGroup]="userProfil" (ngSubmit)="submit()">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <!-- <img
          class="rounded-circle mt-5"
          width="50%"
          src="https://images.8tracks.com/cover/i/009/099/385/cantdecide-garou-5582.png?rect=0,0,540,540&q=98&fm=jpg&fit=max&w=960&h=960"
          src="https://images.8tracks.com/cover/i/009/099/385/cantdecide-garou-5582.png?rect=0,0,540,540&q=98&fm=jpg&fit=max&w=960&h=960"
          
        />  -->
          <img class="avatar my-2" src="https://signavatar.com/66475_v.gif" />
          <h5 class="font-weight-bold">{{ username | titlecase }}</h5>
          <span>{{ this.userProfil.value.mail }}</span>
          <button (click)="alertDelete()" type="button" class="btn-s mt-3">
            Delete your account
          </button>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <div class="row mt-2">
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="inputLastName" class="labels">UserName</label
                ><input
                  type="text"
                  class="form-control"
                  placeholder="UserName"
                  id="inputFirstName"
                  formControlName="username"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputLastName" class="labels">Nom</label
              ><input
                id="inputLastName"
                formControlName="lastName"
                type="text"
                class="form-control"
                placeholder="Nom"
                value=""
              />
            </div>
            <div class="col-md-6">
              <label for="inputFirstName" class="labels">Prenom</label
              ><input
                id="inputFirstName"
                formControlName="firstName"
                type="text"
                class="form-control"
                value=""
                placeholder="Prénom"
              />
            </div>
          </div>
          <div class="col-md-12">
            <label for="inputEmail" class="labels">Email</label
            ><input
              id="inputEmail"
              formControlName="mail"
              type="text"
              class="form-control"
              placeholder="Enter email"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Password</label
            ><input
              type="text"
              class="form-control"
              placeholder="password"
              value=""
            />
          </div>
          <div class="mt-5 text-center">
            <button type="button" class="btn-m" (click)="submit()">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Save Profile
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="container mt-5">
    <form class="row g-2" [formGroup]="userInfo">
        <div class="col-md-6">
            <label for="inputFirstName" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Nom</label>
            <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
        </div>
        <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email">
        </div>
    </form>
</div> -->
