.form-control:focus {
  box-shadow: rgb(76, 187, 231);
  border-color: rgb(76, 187, 231);
}

.container {
  font-family: var(--font);
}
.labels {
  font-size: 11px;
}

.avatar {
  border-radius: 12px;
  height: 100px;
  width: 100px;
}
