  
<app-search-bar (searchManga)="onSearch($event)" class="col-12"></app-search-bar>
<section class="home py-3">
  <div class="container">
    <div class="row justify-content-center align-items-start">
      <div *ngIf="loading" class="spinner-border"></div>
      <ng-template #loaded>
          <p>I am loading...</p>
      </ng-template>
      <div
        class="col-5 col-sm-4 col-md-3 col-lg-2"
        *ngFor="let data of dataManga | paginate: {
          itemsPerPage: limit,
          currentPage: page,
          totalItems: count
        };
        let i = index"
      >
        <app-card-manga [data]="data" [routerLink]="['../manga', data.mangaId]"></app-card-manga>
      </div>
    </div>
    <div class="col-12 text-center my-5">
      <pagination-controls
      previousLabel="prev"
      nextLabel="Next"
      [responsive] = "true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
    </div>
    
  </div>
</section>
