<section
  class="py-3"
  style="
    background: center / cover url('{{ cover }}')
      no-repeat;
    height: 350px;
  "
></section>
<section class="haut">
  <div class="container">
    <div class="row py-3 haut-row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="bg-light p-2 text-dark fw-bold bg-opacity-20 col-12 bg-opacity-75 rounded">
          <h1
          class="display-4 "
        >
          {{ detailManga.titleEn }}
        </h1>
        <h5 class="text-end">{{detailManga.titleJp}}</h5>
        </div>
        
        <div class="mt-5 p-2">
          <h3>Synopsis</h3>
          <p class="fs-6">{{ detailManga.synopsis }}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 d-none d-lg-block text-center">
        <img class="w-75 h-100 rounded shadow" src="{{ cover }}" alt="" />
      </div>
    </div>
    <div class="col-12 text-center d-lg-none d-xl-none my-2">
      <a
        href="#collapseMe"
        role="button"
        class="btnCollapse text-decoration-none btn btn-outline-info btn-sm my-1 text-dark"
        data-bs-toggle="collapse"
        aria-expanded="true"
        aria-controls="collapseMe"
        (click)="letShowMore()"
        ><app-icon [iconName]="showMore ? 'chevron-double-up' : 'chevron-double-down'"></app-icon> Show more <app-icon [iconName]="showMore ? 'chevron-double-up' : 'chevron-double-down'"></app-icon></a
      >
    </div>
  </div>
</section>
<section class="contenue py-3">
  <div class="container">
    <div class="row d-flex flex-lg-row flex-column-reverse">
      <div class="col-sm-12 col-md-12 col-lg-8 py-3">
        <div class="row row justify-content-center align-items-start">
          <div
            *ngFor="let tome of detailManga.tomes"
            class="col-5 col-sm-4 col-md-3 col-lg-3"
          >
            <app-card-manga
              [data]="tome"
              [idManga]="detailManga.mangaId"
            ></app-card-manga>
            
          </div>
          <p *ngIf="detailManga.tomes.length  == 0">Not Volumes</p>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-12 col-lg-4 p-3 collapse d-lg-block"
        id="collapseMe"
      >
        <div class="row">
          <div
            class="complet col-12"
            [ngClass]="
              detailManga.status == 'ongoing'
                ? 'alert  alert-success'
                : 'alert alert-info'
            "
          >
            Publication:
            {{ detailManga.status == "ongoing" ? "On Going" : "Completed" }}
          </div>
          <div class="col-lg-12 col-sm-6 col-md-6 col-md-6">
            <h4>Author:</h4>
            <a href="" class="btn btn-outline-info btn-sm my-1 text-dark">
              {{ detailManga.author.name }}
            </a>
          </div>
          <div class="col-lg-12 col-sm-6">
            <h4>Demographic:</h4>
            <a href="" class="btn btn-outline-info btn-sm my-1 text-dark">{{
              detailManga.pubDemographic
            }}</a>
          </div>
          <div class="col-12">
            <h4>Genres</h4>
            <div class="row d-flex flex-wrap">
              <ul class="list-inline">
                <li
                  class="list-inline-item btn btn-outline-info btn-sm my-1 text-dark"
                  *ngFor="let genre of detailManga.genres"
                >
                  {{ genre.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <h4>Volumes:</h4>
            {{ detailManga.lastVolume }}
          </div>
          <div class="col-12">
            <h4>Chapters:</h4>
            {{ detailManga.lastChapter == '' || detailManga.lastChapter == null ? detailManga.lastVolume * 10 : detailManga.lastChapter }}
          </div>
          <div class="col-12">
            <h4>Release Year</h4>
            {{detailManga.releaseDate == 'null' ? '' : detailManga.releaseDate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
