.haut {
  //border: 1px solid red;
  position: relative;
  top: -150px;
}

.haut-row {
  // border: 1px solid green;
}

.contenue {
  position: relative;
  top: -150px;
}

.btnCollapse {
  color: red;
}

@media screen and(max-width: 810px) {
  .haut {
    top: -120px;
  }
  .contenue {
    top: -120px;
  }
}
