.searchSection {
  // width: 450px;
  // height: 100px;
  background-size: contain;
  min-height: 350px;
  background: no-repeat center url("../../asset/goku\ petit2.jpg");
  // ('https://cdn.dribbble.com/users/3558835/screenshots/9197759/media/335937b8347f24d2e860dfb52312f1a2.jpg?compress=1&resize=1200x900&vertical=top');
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

h3 {
  font-family: var(--logoMangaShoten);
}

.btn-hover {
  font-size: 16px;

  color: #fff;
  cursor: pointer;

  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 10px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #2ea4d6,
    #5589e4,
    #1abef5,
    #4382e0
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.bordure {
  border-radius: 10px;
}
