<section class="searchSection">
    <div class="container">
        <div class="row h-100">
            <div class="col-12 d-flex flex-column justify-content-center searchWrapper align-item-center bg-light m-3 p-2 bg-opacity-75 rounded">
                <h3 class="text-dark text-center fw-bold ">Search your favorite Manga</h3>
                <div class="m-3 row">
                    <div class="col-10">
                        <input type="search" name="" id="" placeholder="Search" class="form-control" (input)="searchBar($event)">
                    </div>
                    <div class="col-2">
                        <button class="col-12 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">Filter</button>
                    </div>
                </div>
                <div class="collapse" id="filterCollapse">
                    <div class="card card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quam ab, magni expedita asperiores officia dignissimos eligendi laboriosam. 
                        Hic facilis cupiditate dolorum dolorem nihil earum. Quisquam, nam esse harum totam odio reprehenderit! Saepe recusandae iste repellat?
                        Eveniet expedita accusamus a, error recusandae blanditiis animi quis magni sapiente! Magnam ab veniam reiciendis optio illo sequi delectus quae id distinctio, 
                        suscipit, aperiam atque fugiat accusantium porro quas beatae dolorum? Officia voluptatibus eos alias delectus corrupti aperiam error 
                        laboriosam provident cupiditate quos aliquid est a omnis inventore, ullam, id aut adipisci earum necessitatibus impedit? Cumque, minus asperiores! 
                        Veritatis accusamus cum voluptas eligendi saepe repudiandae ullam officiis in nemo iste quae libero, numquam odit harum ratione cumque. Suscipit, 
                        sint voluptas dolore eveniet unde maiores excepturi eum optio iure expedita. Harum minima sequi, consectetur beatae unde corporis, doloribus neque 
                        est possimus eaque laborum expedita fuga eius nisi? Maxime excepturi optio officiis quidem illo perspiciatis tempora molestiae consectetur magni 
                        esse neque cupiditate perferendis quo voluptas rerum harum cum, vel adipisci veniam. Neque molestias voluptas libero similique praesentium officia 
                        rem vitae error odio et veritatis, unde perspiciatis! Perspiciatis sapiente recusandae nobis inventore possimus iste voluptas natus iure ab debitis a 
                        totam ipsum necessitatibus accusantium suscipit laboriosam dignissimos, unde placeat sequi. Repellat, placeat omnis non distinctio perspiciatis voluptates 
                        eligendi ipsa facilis quibusdam voluptatum et molestias reiciendis nisi incidunt rem voluptas, dicta corrupti sunt veniam suscipit amet exercitationem dolorem 
                        hic doloribus! Molestias magnam nam tempora, adipisci eum placeat quidem accusantium harum ad natus qui voluptatibus consequatur, cum odio perferendis doloribus amet neque. 
                        Consequuntur soluta, laudantium quas exercitationem temporibus, rerum debitis nobis aperiam ex quaerat necessitatibus laborum praesentium beatae fuga quisquam consectetur 
                        dolores quibusdam facilis in iure at. Culpa iusto, iure magnam cupiditate quasi laboriosam pariatur praesentium incidunt. Consequuntur laudantium earum numquam asperiores, 
                        error, harum debitis commodi quod aperiam cum obcaecati? Odit a provident cumque vitae perspiciatis neque ipsa? Itaque quaerat optio architecto error exercitationem? 
                        Dolorem cupiditate eius dignissimos corporis sunt perspiciatis expedita alias repellat officiis enim facilis, fugiat totam consequatur repellendus. Ea, beatae? Non aut tempora, 
                        ipsam eveniet voluptatibus deserunt sapiente, sed commodi magni repellendus voluptates doloribus nulla. Nulla totam iste vero, provident accusantium modi unde. Tempore, ipsam. 
                        Fuga, quis necessitatibus id veniam hic et maiores ipsam veritatis ab nemo, ipsa nostrum maxime! Recusandae, libero impedit ullam unde reiciendis 
                        velit enim ea sit voluptates aliquam quisquam nisi, ipsam sint fugiat obcaecati sunt similique cum praesentium ipsum beatae quaerat minus reprehenderit. 
                        Eaque illum iure, magni corporis quaerat dicta debitis nobis fuga cupiditate tempore voluptates voluptas sapiente, maiores aliquam, veritatis odio numquam 
                        in perferendis reprehenderit totam aut beatae! Saepe maxime quidem aspernatur accusantium cupiditate necessitatibus, fuga et quo ex ut explicabo repudiandae 
                        unde asperiores soluta dolores, earum dolorem culpa! Ea sint minus iure voluptatum rem veritatis corporis nihil iste sit. Fuga nisi cupiditate, 
                        officiis nulla praesentium harum eius corrupti qui quae expedita corporis sunt facere explicabo, nemo vero, quia fugit dicta? Necessitatibus, architecto obcaecati. 
                        Reiciendis reprehenderit et magnam, accusamus fugiat doloribus nostrum nihil. Nemo atque accusantium alias ab tempora porro illum!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>