<div
  class="card text-black mb-2"
  style="border: none; cursor: pointer; margin: 0"
>
  <app-icon class="bookmark" [iconName]="'bookmark-fill'" [iconSize]="'2'" [iconColor]="'gold'"></app-icon>
  <img
    class="rounded img-fluid card-img-top"
    style="height: 250px; margin: 0; width: 175px"
    src="{{ data.url }}"
    alt=""
  />
  <div class="row">
    <h6 *ngIf="data.name" [ngStyle]="{ color: getRandomColor() }" style="margin: 0">
      {{ data.name }}
    </h6>
    <small class="fw-light">Tome: {{ data.tome }}</small>
  </div>
</div>
