.topBibli {
  background-image: no-repeat center / cover
    url("https://mocah.org/thumbs/4539626-akira-katsuhiro-otomo-monochrome-factor-manga.png");
}

.deleteIcon {
  cursor: pointer;
}

.deleteTome {
  top: 180px;
  left: 180px;
  width: 40px;
  height: 40px;
}
